.examples {
  background: var(--background-color);
}

.examples__title {
  background: #1e1823;
  font-size: 68px;
  padding: 100px 0;
  text-align: center;
}

.example {
  padding: 100px 0;
}

.example--light {
  background: var(--dark-violet);
}

.example__grid {
  display: grid;
  grid-template-areas: "title video" "integrations video" "text video" "controls video";
  grid-template-columns: 1fr minmax(50%, max-content);
  grid-template-rows: min-content min-content min-content 1fr;
  grid-gap: 30px 150px;
}

.example__title {
  font-size: 35px;
  font-weight: 500;
  line-height: 1.5;
  grid-area: title;

  svg {
    height: auto;
    width: auto;
    vertical-align: middle;
  }
}

.example__integrations {
  align-items: center;
  display: flex;
  font-size: 20px;
  grid-area: integrations;
}

.example__plus {
  margin: 0 10px;
}

.example__text {
  color: var(--lighter-grey);
  font-size: 18px;
  grid-area: text;
  line-height: 1.5;
  width: 420px;
}

.example__controls {
  grid-area: controls;
}

/* Here's the styles for video modal window. Maybe we should create component. */
.example__video {
  border-radius: 5px;
  grid-area: video;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--dark-violet);
  // padding-top: 56.25%;
  position: relative;

  .example--light & {
    background: var(--darkest-violet);
  }
}

.play__button {
  --size: 60px;
  align-items: center;
  bottom: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;

  svg {
    border-radius: 50%;
    height: calc(var(--size) / 2);
    padding: calc(var(--size) / 2);
    pointer-events: none;
    width: calc(var(--size) / 2);
  }

  &--orange {
    svg {
      background-color: var(--primary-orange);
    }
  }

  &--green {
    svg {
      background-color: var(--primary-green);
    }
  }
}

.examples__more {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 100px 0;
}

.examples__more__link {
  align-items: center;
  border: 2px solid var(--dark-violet);
  border-radius: 40px;
  color: var(--primary-orange);
  display: flex;
  padding: 20px 30px;
  transition: opacity 0.2s ease-out;

  > svg {
    margin-right: 10px;
  }

  &:hover {
    opacity: 0.75;
  }

  &:active {
    opacity: 0.5;
  }
}

@media (max-width: 768px) {
  .examples__title {
    font-size: 36px;
    padding: 50px 0;
  }

  .example {
    padding: 40px 0;
  }

  .example__grid {
    grid-template-areas: "title" "integrations" "video" "text" "controls";
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }

  .example__title {
    font-size: 22px;
  }

  .example__text {
    font-size: 16px;
    width: auto;
  }

  .example__video {
    min-height: 400px;
  }

  .example__controls {
    .button {
      width: 100%;
    }
  }

  .examples__more {
    padding: 50px 0 0;
  }

  .modal__container {
    width: 90%;
    height: 50%;
  }
}

@media (max-width: 768px) {
  .example__video {
    min-height: 280px;
  }
}
