.videoModal {
  display: none;
  height: 100%;
  left: 0px;
  opacity: 0;
  position: fixed;
  top: 0px;
  transition: opacity 0.2s ease-out;
  width: 100%;
  z-index: 10;

  &.opened {
    display: flex;
    z-index: 99;
  }

  &.animated {
    opacity: 1;
  }
}

.videoModal__backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

.videoModal__controls {
  display: flex;
}

.videoModal__controls--close {
  --size: 24px;
  height: var(--size);
  margin-bottom: 10px;
  margin-left: auto;
  width: var(--size);

  svg {
    height: var(--size);
    pointer-events: none;
    width: var(--size);
  }

  svg path {
    fill: #fff;
  }
}

.videoModal__container {
  margin: auto;
  width: 50%;
}

.videoModal__content-video {
  background: #000000;
  height: 0;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  position: relative;

  > iframe {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}
