.block {
  background: var(--background-color);
  padding: 100px 0;

  &:first-of-type {
    padding-top: 200px;
  }
}

.block__title {
  font-size: 47px;
  font-weight: 500;
  margin-bottom: 20px;
}

.block__text {
  color: var(--light-grey);
  font-size: 20px;
  line-height: 2;
}
