.button {
  --btn-color: var(--primary-white);
  --btn-bgcolor: var(--primary-blue);
  align-items: center;
  background: var(--btn-bgcolor);
  border: 2px solid var(--btn-bgcolor);
  border-radius: 5px;
  box-sizing: border-box;
  color: var(--btn-color);
  display: inline-flex;
  font-size: 14px;
  justify-content: center;
  padding: 16px 32px;
  transition: opacity 0.25s ease-out;

  &:hover {
    opacity: 0.75;
  }

  &:active {
    opacity: 0.5;
  }

  svg {
    margin: 0 10px 0 0;

    &:last-child {
      margin: 0 0 0 10px;
    }
  }

  &--medium {
    font-size: 16px;
    padding: 16px 50px;
  }

  &--big {
    font-size: 18px;
    padding: 25px 50px;
  }

  &--bordered {
    background: none;
    border-radius: 10px;
  }

  &--full-width {
    width: 100%;
  }

  &--blue {
    --btn-bgcolor: var(--primary-blue);
  }

  &--green {
    --btn-color: var(--btn-green);
    --btn-bgcolor: var(--primary-green);
  }

  &--orange {
    --btn-color: var(--btn-orange);
    --btn-bgcolor: var(--primary-orange);
  }

  &--violet {
    --btn-color: var(--btn-violet);
    --btn-bgcolor: var(--primary-violet);
  }

  &--orange {
    --btn-color: var(--btn-orange);
    --btn-bgcolor: var(--primary-orange);
  }

  &--twitter {
    --btn-bgcolor: var(--twitter-color);
  }

  &--discord {
    --btn-bgcolor: var(--discord-color);
  }
}

.buttons {
  * + * {
    margin-left: 20px;
  }
}
