.color--violet {
  color: var(--primary-violet);
}

.color--orange {
  color: var(--primary-orange);
}

.color--green {
  color: var(--primary-green);
}

.color--blue {
  color: var(--primary-blue);
}

.color--red {
  color: var(--primary-red);
}
