.container {
  margin: 0 auto;
  max-width: calc(100% - 50px);

  &--small {
    width: 1000px;
  }

  &--normal {
    width: 1200px;
  }

  &--medium {
    width: 1270px;
  }

  &--big {
    width: 1750px;
  }
}
