.socials {
  background: var(--darkest-violet);
  text-align: center;
}

.socials__text {
  font-size: 24px;
  line-height: 1.4;
  text-align: center;
  padding: 120px 0;
}

.socials__picture {
  svg {
    max-width: calc(100% - 50px);
    height: auto;
    width: auto;
  }
}

.socials__arrow {
  height: 100px;
  margin-bottom: -85px;
  margin-left: 22%;
  margin-top: 50px;
  position: relative;
  z-index: 2;

  svg {
    height: auto;
    width: auto;
  }
}

.socials__separator {
  background: linear-gradient(
    to bottom left,
    var(--background-color),
    var(--background-color) 50%,
    #1e1823 50%,
    #1e1823
  );
  height: 200px;
  overflow: hidden;
  position: relative;
}

@media only screen and (max-width: 767px) {
  .socials__text {
    padding: 60px 0;
  }
  .socials__arrow {
    height: 50px;
  }
  .socials__separator {
    height: 100px;
  }
}
