.howItWorks {
  background: var(--background-color);
  padding-top: 0;

  h2 {
    padding: 20px 0px 100px 0;
  }
}

.howItWorks__title {
  font-size: 68px;
  padding: 100px 0;
  text-align: center;
}

.howItWorks__item {
  margin: 100px 0;
  padding: 100px 0;
  position: relative;

  &:first-of-type {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
    padding-bottom: 200px;
  }

  &:after {
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: contain;
    bottom: 0;
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
}

.howItWorks__item.chains,
.howItWorks__item.scripts {
  background-position-x: 100%;
}

.howItWorks__item.chains {
  &:after {
    width: 900px;
    background-image: url(../../img/howItWorks/obs_1.png);
  }
}

.howItWorks__item.scripts {
  &:after {
    background-image: url(../../img/howItWorks/obs_2.png);
    width: 900px;
  }
}

.howItWorks__item.autoruns {
  &:after {
    background-image: url(../../img/howItWorks/obs_3.png);
    height: 665px;
    left: 0;
    right: unset;
    width: 900px;
  }
}

.howItWorks__item--light {
  background: var(--dark-violet);
}

.howItWorks__item__grid {
  display: grid;
  grid-gap: 30px;
  grid-template-areas: "title picture" "text picture" "features picture" "controls picture";
  grid-template-columns: max-content 1fr;
  grid-template-rows: min-content min-content min-content 1fr;
  position: relative;
  width: 1380px;
  z-index: 2;

  .howItWorks__item--right & {
    grid-template-areas: "picture title" "picture text" "picture features" "picture controls";
    grid-template-columns: 1fr max-content;
  }
}

.howItWorks__item__title {
  font-size: 64px;
  font-weight: bold;
  grid-area: title;
}

.howItWorks__item__plus {
  margin: 0 10px;
}

.howItWorks__item__text {
  color: var(--lighter-grey);
  font-size: 24px;
  font-weight: 300;
  grid-area: text;
  line-height: 1.5;
  max-width: 400px;
}

.howItWorks__item__controls {
  grid-area: controls;
  margin-top: 20px;
}

.howItWorks__item__picture {
  align-items: center;
  display: flex;
  grid-area: picture;
  justify-content: flex-end;
  position: relative;

  .howItWorks__item--right & {
    justify-content: flex-start;
  }

  img {
    border-radius: 8px;
    max-width: 100%;
  }
}

.howItWorks__item__video {
  &--chat {
    overflow: hidden;

    video {
      margin: 0 -5px 0 5px;
    }
  }
}

.howItWorks__controls-images {
  position: relative;
  top: 125px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1700px;
  padding: 0 30px;
  z-index: 3;

  img {
    border-radius: 8px;
    max-width: 100%;
  }
}

// .howItWorks__item__video {
//   border-radius: 5px;
//   grid-area: video;
//   background: var(--dark-violet);
//   padding-top: 56.25%;
//   position: relative;

//   .howItWorks__item--light & {
//     background: var(--darkest-violet);
//   }
// }

.howItWorks__item__features {
  grid-area: features;
}

.howItWorks__item__feature {
  align-items: center;
  font-size: 30px;
  font-weight: 500;
  display: grid;
  grid-template-columns: 60px 1fr;
  line-height: 2;

  > svg {
    height: auto;
    justify-self: center;
    margin-right: 20px;
    width: auto;
  }
}

@media (max-width: 1440px) {
  .howItWorks__item.chains,
  .howItWorks__item.scripts {
    background-size: auto;
    background-position: 100% 25%;
  }
  .howItWorks__controls-images img:nth-of-type(4) ~ img {
    display: none;
  }
  .howItWorks__item__grid {
    grid-template-columns: auto;
    grid-gap: 30px;
  }
}

@media (max-width: 1024px) {
  .howItWorks.chains,
  .howItWorks.scripts {
    background-size: 60%;
  }
  .howItWorks__item__picture img {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 768px) {
  .howItWorks {
    padding: 50px 0;
  }

  .howItWorks__title {
    font-size: 36px;
    padding: 50px 0;
  }

  .howItWorks__item__grid,
  .howItWorks__item--right .howItWorks__item__grid {
    grid-template-areas: "title" "video" "text" "features" "controls" "picture";
    grid-template-columns: 1fr;
    grid-auto-rows: min-content;
    grid-gap: 16px;
  }

  .howItWorks__item__title {
    font-size: 36px;
  }

  .howItWorks__item__feature {
    font-size: 20px;
  }

  .howItWorks__item__text {
    font-size: 16px;
  }

  .howItWorks__item__controls {
    .button {
      width: 100%;
    }
  }

  .howItWorks.chains {
    background-image: none;
  }

  .howItWorks.autoruns:after,
  .howItWorks.scripts:after {
    display: none;
  }

  .howItWorks__controls-images {
    top: 25px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 15px;
    img {
      margin-left: auto;
      margin-right: auto;
    }
  }

  .howItWorks.scripts,
  .howItWorks.autoruns {
    padding-top: 80px;
  }
}

@media (max-width: 700px) {
  .howItWorks.parent h2 {
    padding-bottom: 50px;
  }
}
