.scroll__button {
  --size: 70px;
  position: fixed;
  right: 3.5vw;
  bottom: 7.5vh;
  display: flex;
  align-items: center;
  text-align: center;
  height: var(--size);
  width: var(--size);
  font-size: 14px;
  border-radius: calc(var(--size) / 2);
  background-color: var(--primary-violet);
  z-index: 3;
  animation-name: shadow-pulse;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transition: all 0.3s ease-in-out;
  cursor: pointer;

  &:hover {
    background-color: var(--primary-green)
  }
}

@keyframes shadow-pulse
{
  0% {
    box-shadow: 0 0 0 0px rgba(255, 153, 0, 0.5);
    transform: scale(1)
  }
  50% {
    box-shadow: 0 0 0 20px rgba(255, 153, 0, 0);
    transform: scale(1.075)  
  } 
  100% {
    transform: scale(1)
  }
}
