header {
  align-items: center;
  display: flex;
  left: 0;
  padding: 50px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 3;
}

.header__logo {
  svg {
    height: auto;
    width: auto;
  }
}

.header__nav {
  display: flex;
  margin-left: auto;

  a.active {
    color: var(--primary-orange);
  }

  a + a {
    margin-left: 50px;
  }
}

.header__socials {
  align-items: center;
  display: flex;
  margin-left: 70px;

  a + a {
    margin-left: 20px;
  }

  svg {
    height: auto;
    width: auto;
  }
}

.header__button {
  margin-left: 20px;
}

.float__button {
  position: fixed;
  right: 40px;
  top: 40px;
  transition: transform 150ms;
  transform: translateY(-100px);
  z-index: 999;
}

.float__button.active {
  transform: translateY(-10px);
}

@media only screen and (max-width: 1440px) {
  header {
    padding: 20px 30px;
  }
}

@media only screen and (max-width: 767px) {
  .header__socials,
  .header__button,
  .float__button, 
  .header__nav {
    display: none;
  }
  header {
    padding: 16px;
    justify-content: space-between;
  }
}